/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.flex{
    display: flex;
}

html{
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* HEADER */
header{
    width: 100%;
    height: 50px;
    /* visto che è un layout particolare con zone molto fisse ci assicuriamo che se vengono aggiunte cose non escano fuori */
    overflow: hidden;
    justify-content: flex-end;
    background-color: #000000;
}

div.view,div.screen{
    margin: 8px 5px 0 0;
}

div.view a, div.screen a{
    background-color: #4a4a4a;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: auto;
    background-color: #000000;
}

ul.flex{
    flex-wrap: wrap;
    justify-content: center;
}

li.partecipant{
    position: relative;
    width: 246px;
    height: 146px;
    background-image: url("https://picsum.photos/246/146");
    margin: 5px 5px;
}

div.partecipant-name{
    position: absolute;
    bottom: 5px;
    left: 1px;
    color: white;
    background-color: rgb(103, 114, 127, 0.5);
    padding: 5px 8px;
}

div.partecipant-options{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgb(103, 114, 127, 0.5);
    padding: 0 10px;
    font-size: 1.2rem;
    display: none;
}

div.partecipant-options a{
    color: #ffffff;
}

li.partecipant:hover div.partecipant-options{
    display: block;
}

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
}

ul.footer-menu{
    align-items: center;
}

ul.footer-menu li{
    display: inline-block;
    color: #ffffff;
    text-align: center;
    margin: 0px 10px;
}

ul.footer-menu li.audio-video i{
    font-size: 1.8rem;
    margin-bottom: 5px;
}

ul.footer-menu li.audio-video.share > a{
    color: #4ac800;
}

div.end-meeting{
    align-items: center;
    align-self: stretch;
    color: #ff0000;
    background-color: #4a4a4a;
}

div.end-meeting a{
    padding: 0 30px;
    color: inherit;
}

footer a{
    color:inherit;
}