/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

/* COMMON */
.flex{
    display: flex;
}

/* HEADER */
header{
    height: 60px;
    justify-content: flex-end;
    background-color: #000000;
}

div.view,div.screen{
    margin: 8px 5px 0 0;
}

div.view a, div.screen a{
    background-color: #4a4a4a;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

/* MAIN */
main{
    height: calc(100vh - 210px);
    overflow-y: auto;

    /* TEST */
    background-color: rgb(0, 255, 0);
}

/* FOOTER */
footer{
    height: 150px;

    /* TEST */
    background-color: rgb(0, 81, 255);
}